
.edit-message-modal {
    display: inline-flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 24pt;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.edit-message-input {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16pt;
    font-weight: normal;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

.edit-message-close {
    margin-left: 10px;
    background-color: rgba(121, 120, 98, 0.50);
}

.edit-message-button {
    background-color: rgba(132, 189, 58, 0.60);
}

.edit-message-button,
.edit-message-close {
    border: 1px solid #282c34;
    color: #282c34;
    padding: 5px;
    float: right;
    font-size: 14pt;
}

.edit-message-button:hover {
    background-color: rgba(132, 189, 58, 0.85);
}

.edit-message-close:hover {
    background-color: rgba(121, 120, 98, 0.75);
}

.edit-message-close:hover,
.edit-message-button:hover {
    color: black;
    cursor: pointer;
}
